img {
    transition: ease-in 800ms;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

html {
    font-size: 11px;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .fw-light {
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2.0rem auto;
    width: 29.5rem;
    height: 8.5rem;
    background: #85dcb8;
    border-radius: 5.0rem;
    font-family: 'Bahnschrift SemiBold SemiConden', sans-serif;
    font-size: 3.5rem;
    font-weight: bolder;
    letter-spacing: .1rem;
    transition: 1s box-shadow;
  }
  
  .fw-light:before, .fw-light::after {
    display: block;
    content: '';
    position: absolute;
    width:30.0rem;
    height: 8.8rem;
    background: #FDA8CF;
    border-radius: 7.5rem;
    z-index: -1;
    animation: 1s clockwise infinite;
    box-shadow: 0 .5rem 3.5rem 0rem rgba(0,0,0,.1);
  }
  
  .fw-light:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -.5rem;
      left: 0;
    }
    12% {
      top: -.2rem;
      left: .2rem;
    }
    25% {
      top: 0;
      left: .5rem;    
    }
    37% {
      top: .2rem;
      left: .2rem;
    }
    50% {
      top: .5rem;
      left: 0;    
    }
    62% {
      top: .2rem;
      left: -.2rem;
    }
    75% {
      top: 0;
      left: -.5rem;
    }
    87% {
      top: -.2rem;
      left: -.2rem;
    }
    100% {
      top: -.5rem;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -.5rem;
      right: 0;
    }
    12% {
      top: -.2rem;
      right: .2rem;
    }
    25% {
      top: 0;
      right: .5rem;    
    }
    37% {
      top: .2rem;
      right: .2rem;
    }
    50% {
      top: .5rem;
      right: 0;    
    }
    62% {
      top: .2rem;
      right: -.2rem;
    }
    75% {
      top: 0;
      right: -.5rem;
    }
    87% {
      top: -.2rem;
      right: -.2rem;
    }
    100% {
      top: -.5rem;
      right: 0;    
    }
  }
  .overlay {
    position: absolute; 
    top: 80%;
    right: 2%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: wheat; 
    width: 96.5%;
    height: 17%;
    font-family: 'Mv Boli';
    align-self: center;
    opacity: 1;
    color: white;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
  }
  .col:hover .overlay{
    opacity: 1;
  }
  .float-left-submit-button {
    background-color: rgb(231, 231, 231);
    border-radius: .4rem;
    border: none;
    text-align: center;
    padding: 1.0rem;
    transition: all 0.5s;
    cursor: pointer;
  }

  .float-left-submit-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .float-left-submit-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2.0rem;
    transition: 0.5s;
  }

  .float-left-submit-button:hover span {
    padding-right: 2.5rem;
  }

  .float-left-submit-button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .et {
    position: absolute;
    right: 7.5rem;
    color: grey;
    font-size: 1.5rem;
  }
  .solid{
    border-top: .3rem solid #191919;
  }
  .abcd{
    position: absolute;
    top: 72rem;
    left: 45%;
  }
  img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 5s;
  }

  @keyframes shake {
    0% { transform: translate(.1rem, .1rem) rotate(0deg); }
    10% { transform: translate(-.1rem, -.2rem) rotate(-1deg); }
    20% { transform: translate(-.3rem, 0rem) rotate(1deg); }
    30% { transform: translate(.3rem, .2rem) rotate(0deg); }
    40% { transform: translate(.1rem, -.1rem) rotate(1deg); }
    50% { transform: translate(-.1rem, .2rem) rotate(-1deg); }
    60% { transform: translate(-.3rem, .1rem) rotate(0deg); }
    70% { transform: translate(.3rem, .1rem) rotate(-1deg); }
    80% { transform: translate(-.1rem, -.1rem) rotate(1deg); }
    90% { transform: translate(.1rem, .2rem) rotate(0deg); }
    100% { transform: translate(.1rem, -.2rem) rotate(-1deg); }
  }

  .card-text {
    font-size: 1.3rem;
  }