<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <iframe
      id="8689769"
      allowtransparency="true"
      frameborder="0"
      style="width: 100%; border: none"
      src="//www.chess.com/emboard?id=8689769"
    ></iframe>
    <script>
      window.addEventListener("message", (e) => {
        e["data"] &&
          "8689769" === e["data"]["id"] &&
          document.getElementById(`${e["data"]["id"]}`) &&
          (document.getElementById(`${e["data"]["id"]}`).style.height = `${
            e["data"]["frameHeight"] + 30
          }px`);
      });
    </script>
  </body>
</html>
